.about-school {
 
  background-color: #f8fafc;
   background-image: url(../../public/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.hi {
 padding: 80px 10%;
  background-color: rgb(105, 134, 174, 0.5);
}
.about-container {
 
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about-container h2 {
  font-size: 36px;
  color: #2fdf61;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  color: #fffefe;
  line-height: 1.8;
}