.apply-btn {
  width: 150px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #104D79;
  background: transparent;
  border: 2px solid rgba(147, 230, 22, 0.8);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  background-color: #104D79;
  color: rgba(147, 230, 22, 0.9);
}