.hero {
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: center top;
  position: relative;
  transition: background-image 1s ease-in-out;
   
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

.hero-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  color: #fff;
  text-align: left;
}

.hero-overlay h1 {
  font-size: 30px;
  max-width: 500px;
  color: #1fde75;
  margin-bottom: 15px;
}

.hero-overlay p {
  font-size: 18px;
  max-width: 500px;
 
  margin-bottom: 10px;
}

.hero-overlay button {
  width: fit-content;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: bold;
  color: #104D79;
  background: rgba(203, 241, 146, 0.8);
  border: 2px solid #104D79;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-overlay button:hover {
   background-color: #104D79;
  color: rgba(147, 230, 22, 0.9);
  border:2px solid rgba(147, 230, 22, 0.9) ;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-overlay {
    padding-left: 30px;
  }

  .hero-overlay h1 {
    font-size: 32px;
  }
}