* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: "Poppins", sans-serif;
}

.img{
  padding-bottom: 15px;
 
}
/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}

/* FIX HERE */
.nav-container {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding: 10px 10px;   
  min-height: 90px;      
}

/* Logo FIX */
.logo {
  display: flex;
  align-items: center;  
}

.logo img {
  height: 80px;        
  object-fit: contain;
}

/* Menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 28px;
}



.nav-menu a {
  text-decoration: none;
  font-weight: 600;
  color: #104D79;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: rgba(147, 230, 22, 0.9);
}
.nav-menu a:hover::after {
  width: 100%;
}

/* Apply Button */
.apply-btn {
  width: 150px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #104D79;
  background: transparent;
  border: 2px solid rgba(147, 230, 22, 0.8);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  background-color: #104D79;
  color: rgba(147, 230, 22, 0.9);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #104D79;
  margin: 4px 0;
  transition: 0.3s;
}

/* Mobile */
@media (max-width: 992px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #f9f9f9;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    display: none;
  }

  .nav-menu.open {
    display: flex;
  }
}