.programs {
  padding: 80px 10%;
  background-color: #f8fafc;
  text-align: center;
}

.programs-heading {
  font-size: 36px;
  color: #1D3557;
  margin-bottom: 50px;
}

/* Grid */
.programs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Card */
.program-card {
  background: #ffffff;
  padding: 35px 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
}

/* Hover Effect */
.program-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

/* Title */
.program-card h3 {
  font-size: 22px;
  color: #1D3557;
  margin-bottom: 15px;
}

/* Text */
.program-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Button */
.program-card button {
  background-color: rgba(184, 240, 102, 0.9);
  border: 2px solid #1D3557;
  color: #1D3557;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.program-card button:hover {
  background-color: #1D3557;
  color: rgba(147, 230, 22, 0.9);
  border: 2px solid rgba(147, 230, 22, 0.9);
}